@model ShopManagementSystem.Models.SoundBox

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SoundBox</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopName.ShopId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemPlan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfItems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfItems)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SoundBoxId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
